<!-- START CABECERA PAGINAS-->
<section class="SeccionCabeceraPAGINAS">
    <div class="container-fluid">
        <div class="row">
            <div class="cabeceraPaginas">
                <h1 class="tituloPaginasCabera">{{titulo}}</h1>
                <div class="breadcrumb-inner">
                    <a href="/">Home</a>
                    <span>Ofertas</span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="iconArrowDown">
    <div class="icon-default2">
        <ion-icon name="arrow-down-outline" role="img" class="md hydrated" aria-label="arrow down outline"></ion-icon>
    </div>
</div>
<section class="secOfertas pb-5 pt-5">
    <div class="container">
        <div class="card cardOffert pb-4 pt-4">
            <div class="row">
                <div class="col-md-5 customImgOffert2" *ngFor='let oferta of ofertas'>
                    <img class="d-block" src='../../uploads/ofertas/{{oferta.Imagen}}' alt="">
                    <div class="col-md-7 customTextOffert">
                        <div class="card-block shadow" >
                        <h5 class="card-title">{{oferta.Nombre}}</h5>
                        <p class="card-text">{{oferta.Descripcion}}</p>
                        <ul class="list-group ListaDetalleOferta">
                            <li class="list-group-item">
                                <ion-icon name="checkmark-outline" role="img" class="md hydrated" aria-label="checkmark outline"></ion-icon>Solo en el local
                            </li>
                                <li class="list-group-item">
                                    <ion-icon name="checkmark-outline" role="img" class="md hydrated" aria-label="checkmark outline"></ion-icon>El iva esta incluido
                                </li>
                                <li class="list-group-item">
                                        <ion-icon name="checkmark-outline" role="img" class="md hydrated" aria-label="checkmark outline"></ion-icon> 
                                        Por una compra mayor a 20$
                                </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


