extends layout

block content

    // START CABECERA PAGINAS
    section.SeccionCabeceraPAGINAS
      .container-fluid
        .row
          .cabeceraPaginas
            h1.tituloPaginasCabera
              = title
            .breadcrumb-inner
              a(href="/") Home
              span= title
    .iconArrowDown
      .icon-default2
        ion-icon(name="arrow-down-outline")
    // WELCOME HERE
    section.secBienvenido.pt-5.pb-5
      .container
        h1.titulo_PaginasDark.text-center Bienvenidos Pizzería Los Álamos
        p.descripcionSeccion.text-center Calidad del buen comer
        .row.pt-5
          .col-md-6
            p
              | En 1930 recaló un nuevo propietario, el señor Méndez y renovó parte de las instalaciones, colocando el "mostrador de estaño" de moda en esa época. Recién en 1935 aparece Don Manuél Alamos y el negocio es bautizado: "Bar Los Alamos", modernizando el salón haciéndolo mas presentable, agregando mesas y estrenando en el año 1950 el "Salón Familias" con vista a la calle Murgiondo. Con el paso del tiempo y de algunos negociantes fugaces, llega el año 1966 donde todo cambió. En ese entonces se forma una nueva sociedad y el "Bar Los Alamos" cambia de nombre para llamarse "Los Alamos S.R.L." conociéndose popularmente hoy en día como "PIZZERIA LOS ALAMOS™". El negocio se agranda, se embellece y se moderniza con amplias comodidades y servicio de atención al Cliente, el que puede disfrutar de comidas y pizzas elaboradas con una gran variedad de gustos.Por toda esta historia, larga y corta a la vez, es la que nos obliga a superarnos cada día para que sigan reuniéndose amigos y familias con nosotros y así poder brindarles la mejor atención, porque son nuestros clientes los que nos ayudan a mantener el orgullo y el prestigio del barrio.Es nuestra satisfacción atenderlos con el mayor respeto y cordialidad en esta histórica esquina.
           
          .col-md-6
            .imgContainerMiddle
              img(src="../../images/pizza1.jpg" alt="")
    // NUESTROS SERVICIOS
    section.pt-5.pb-5.listadoServicios
      .container
        h1.titulo_PaginasDark.text-center Nuestros Servicios
        p.descripcionSeccion.text-center Estamos siempre en la busqueda de darte la mejor calidad
        .servicios.pt-5
          .row
            .card.col-md-3.col-sm-6.col-xs-12
              ion-icon.card-img-top(name="pizza-outline")
              .card-body.text-center
                h5.card-title Pizzas Frescas
                p.card-text
                  | Pizza de sabor a Peperoni preparada con ingredientes frescos de la más
                  | alta calidad
            .card.col-md-3.col-sm-6.col-xs-12
              ion-icon.card-img-top(name="fast-food-outline")
              .card-body.text-center
                h5.card-title Menú Variado
                p.card-text
                  | Pizza de sabor a Peperoni preparada con ingredientes frescos de la más
                  | alta calidad
            .card.col-md-3.col-sm-6.col-xs-12
              ion-icon.card-img-top(name="home-outline")
              .card-body.text-center
                h5.card-title Entregas a Domicilio
                p.card-text
                  | Pizza de sabor a Peperoni preparada con ingredientes frescos de la más
                  | alta calidad
            .card.col-md-3.col-sm-6.col-xs-12
              ion-icon.card-img-top(name="timer-outline")
              .card-body.text-center
                h5.card-title Entrega Rápida
                p.card-text
                  | Pizza de sabor a Peperoni preparada con ingredientes frescos de la más
                  | alta calidad
