extends admin_layout

block content

    // AQUÍ ESTÁ EL CONTENIDO DE CADA PÁGINA
    main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4(role="main")
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
        h1.h2 Otros Productos
         
      // AQUÍ VA OTRAS COSAS QUE SE NECESITE EN LA CABECERA DEL DASHBOARD
      .pt-5
      // AQUI VA EL MENSAJE DE PRODUCTO INGRESADO
      .row.justify-content-center.pt-5.mainIntercambiableContent
        .col-md-6
          p.text-center #{mensaje}
          form(method="POST" action="" role="form" enctype="multipart/form-data")
            .form-group
              label(for="nombre") Nombre
              input.form-control(type="text" name="nombre" required="")
            .form-group
              label(for="tipo") Tipo
              input.form-control(type="text" name="tipo" required="")
            .form-group
              label(for="descripcion") Descripcion 
              input.form-control(type="text" name="descripcion" required="")
            .form-group
              label(for="stock") Stock
              select.form-control(name="stock" required="")
                option(selected="") Selecciona el Stock
                option(value="0") Si
                option(value="1") No
            .form-group
              label(for="cantidad") Cantidad
              input.form-control(type="text" name="cantidad" required="")
            .form-group
              label(for="precio") Precio
              input.form-control(type="text" name="precio" required="") 
            .form-group
              label(for="imagen") Imagen
              input.form-control(type="file" name="imagen" required="")
    
            button.btn.btn-primary(type="submit") Guardar OtroProducto
            a.btn.btn-danger.ml-1(href="/admin/listado-otroproducto") Cancelar
      .pb-5
