extends admin_layout

block content

    // AQUÍ ESTÁ EL CONTENIDO DE CADA PÁGINA
    main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4(role="main")
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
        h1.h2 Nueva Oferta
         
      // AQUÍ VA OTRAS COSAS QUE SE NECESITE EN LA CABECERA DEL DASHBOARD
      .pt-5
      // AQUI VA EL MENSAJE DE PRODUCTO INGRESADO
      .row.justify-content-center.pt-5.mainIntercambiableContent
        .col-md-6
          p.text-center #{mensaje}
          form(method="POST" action="" role="form")
            .form-group
              label(for="imagen")
                | Imagen 
                small
                  | (Solo hay cebolla, champinion, tomate, queso, pollo,
                  | pinia, tocino o jamon)
              input.form-control(type="text" name="imagen" placeholder="tomate" required="")
            .form-group
              label(for="descripcion") Descripcion
              input.form-control(type="text" name="descripcion" required="")
            .form-group
              label(for="nombre") Nombre
              input.form-control(type="text" name="nombre")
            // FILE INPUT MODIFICAR ESTO PARA IMAGEN
            //
              <div class="form-group">
              <label for="subirImagen">Subir Imagen</label><br>
              <input type="file" class="customSubirImagen" name="subirImagen">
              </div>
            button.btn.btn-primary(type="submit") Guardar Producto
            a.btn.btn-danger.ml-1(href="/admin/listado-oferta") Cancelar
      .pb-5
