extends admin_layout

block content

    // AQUÍ ESTÁ EL CONTENIDO DE CADA PÁGINA
    main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4(role="main")
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
        h1.h2 Listado de Productos
      // AQUÍ VA OTRAS COSAS QUE SE NECESITE EN LA CABECERA DEL DASHBOARD
      h2 Listado Pizzas
      .table-responsive
        table.table.table-striped.table-sm
          thead
            tr
              th #
              th Nombre
              th Ingredientes
              th Precio
              th Otros
          tbody
            tr
              td 1,001
              td Lorem
              td ipsum
              td dolor
              td sit
            tr
              td 1,002
              td amet
              td consectetur
              td adipiscing
              td elit
