doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
   
    // BOOTSTRAP LINKS
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous")
    link(rel="stylesheet" href="../../src/css/style.css") 
    //dataTables   
    link(rel="stylesheet", href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css") 
    link(rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css")
    
    // IONICONS
    script(src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js")
    script(src="https://js.stripe.com/v3/")
    title=title
   
  body
     

    // START NAVBAR
    header
      .container-fluid.nv-header1
        .row.nv-margen
          .nv-telefono.col-6.col-sm-6.col-md-4.col-lg-2
            svg.bi.bi-telephone(width="1.5em" height="1.5em" viewbox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
              path(fill-rule="evenodd" d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z")
            span(style="padding-left: 10px;") 02 2813237
          .col-6.col-sm-6.col-md-3.col-lg-2
            p.nv-texto-header1 pizzerialosalamos@outlook.com
          .col-md-4-none.col-lg-3
          .nv-redes.col-6.col-sm-6.col-md-2.col-lg-3
            ion-icon.nv-redes-icons(name="logo-facebook")
            ion-icon.nv-redes-icons(name="logo-instagram")
            ion-icon.nv-redes-icons(name="logo-twitter")
          .nv-user.col-6.col-sm-6.col-md-2.col-lg-2.loginPart
            a(href='/login-register')
              //span.myUsuario(style="float: left; cursor:pointer;" data-toggle="modal" data-target="#loginRegisterModal") Mi Cuenta
              span.myUsuario(style="float: left; cursor:pointer;" ) Mi Cuenta
              ion-icon.nv-user-icon(name="person-circle-outline")
                
      .container-fluid.nv-header2#header2(style="padding: 0px;")
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark(style="padding: 5px 8%;")
          a.navbar-brand.logoHNavbar(href="/")
            img(src="../../images/LogoLosAlamos.png" alt="Logo Pizzería Los Alamos")
          button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
          #navbarText.collapse.navbar-collapse
            ul.navbar-nav.ml-auto.mr-5
              li.nav-item
                a.nav-link(href="/") Inicio 
              li.nav-item
                a.nav-link(href="/about") Acerca de
              li.nav-item
                a.nav-link(href="/menu") Menú
              li.nav-item
                a.nav-link(href="/offerts") Ofertas
              li.nav-item
                a.nav-link(href="/contact") Contacto
            span#carritoMenu.navbar-text
              span.shoppingCartTotal(style="float: left;") 0.0$ 
              // ------------------------------- ITEMS PARA EL CARRITO----------------------------
              ion-icon.nv-shop-icon(name="cart")
            // CART FLOTANTE
            .cartListFlotante.hideLA
              .cartContenedor
                .shoppingCartItemsContainer
                .resumenCosto.pb-2
                  h6
                    | Subtotal : 
                    span.shoppingCartTotal 0.0$
                .opcionesCheckout
                  a.btn-mediano.bg-darkCupon(href="/cart") VIEW ALL
                  button.comprarButton.btn-mediano.bg-yellowCupon#comprarBtn(data-toggle="modal" data-target="#comprarModal") CHECK OUT
                  //a.btn-mediano.bg-yellowCupon(href="/checkout") CHECK OUT
            // END CART FLOTANTE
            
    
    block content

    // START FOOTER
    .mt-5
    footer.bg-darkLA
      .footerMainContainer.showLA
        .container
          .row.justify-content-center
            .footer-logo
              img(src="../../images/LogoLosAlamos.png" alt="Logo Pizzería Los Alamos")
            .footer-info
              h3 Pizzería Los Álamos
              p Av. Eloy Alfaro, Quito 170517, Ecuador.
              p (02) 2456123
              p info@losalamos.com
        // Copyright
        .container-fluid.copyright.mt-5
          .row.justify-content-center.align-items-center
            .col-md-12.justify-content-center
              .loationMarker
                p.copyright-text
                  | © 2020 Los Álamos. Todos los derechos reservados.
      .iconArrowLocation
        #openMAP.icon-find
          ion-icon(name="location-outline")
      .LINE_YELLOW.showLA Encuéntranos
      #mapaLA.mapaLA.hideLA
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d997.4491112372677!2d-78.48429667080315!3d-0.18973139999134625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a7ba861479d%3A0xbc7ed28e01ecc8dd!2sROYAL%20ENFIELD%20QUITO!5e0!3m2!1ses!2sec!4v1603494645819!5m2!1ses!2sec" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
    // MODAL HERE
    // Modal
    #loginRegisterModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="loginRegisterModalLabel" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            small= mensaje
            ul.nav.nav-tabs.tabsLogRegistro
              li.active.logg.opActive
                a(data-toggle="tab" href="#loginTab") Iniciar Sesión
              li.regg
                a(data-toggle="tab" href="#registerTab")  Registro
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") ×
          .modal-body
            .tab-content
              #loginTab.tab-pane.active
                .secCabecera1
                  h4.titulo_ParrafosDark.text-center Inciar Sesión
                  br
                .formularioLogin
                  form(action="" method="POST" role="form")
                    .form-group
                      label(for="correo") Correo
                      input#correo.form-control(type="email" name="correo" required)
                    .form-group
                      label(for="contrasenia") Contraseña
                      input#contrasenia.form-control(type="password" name="contrasenia" required)
                    .form-group
                      a.linkText(href="#")
                        small Olvidé Contraseña
                    .actualizarListado.pt-3.d-flex.justify-content-center
                      //button.btn-mediano.bg-darkCupon(type="submit") Iniciar Sesión
                      a.btn-mediano.bg-darkCupon(href="/admin/listado-productos") Iniciar Sesión
              #registerTab.tab-pane
                .secCabecera2
                  h4.titulo_ParrafosDark.text-center REGISTRO
                .secCabecera3.mt-5
                  .formularioRegistro
                    form(action="/register-f" method="POST" role="form" required)
                      .form-group
                        label(for="nombre") Nombres
                        input#nombre.form-control(type="text" name="nombre" required)
                      .form-group
                        label(for="apellido") Apellidos
                        input#apellido.form-control(type="text" name="apellido" required)
                      .form-group
                        label(for="correo") Correo
                        input#correoHeadReg.correoHeadReg.form-control(type="email" name="correo" required)
                      .form-group
                        label(for="contrasenia") Contraseña
                        input#contrasenia.form-control(type="password" name="contrasenia" required)
                      .actualizarListado.pt-3.d-flex.justify-content-center
                        button.btn-mediano.bg-yellowCupon(type="submit") REGISTRAR
    
    // START MODAL COMPRA
    #comprarModal.modal.fade(tabindex='-1' aria-labelledby='comprarModalLabel' aria-hidden='true')
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-header
            h5#comprarModalLabel.modal-title Datos para el env&iacute;o
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            // ? STRIPE START
            form#payment-form
              //.form-group
                label(for='email-element') Email
                input#email-element.form-control(type='email' aria-describedby='emailHelp' placeholder='E-mail')
              .form-group
                #card-element.form-control(style='height: 2.4em; padding-top: .7em;')
                  // Stripe.js injects the Card Element
              button#submit.btn.btn-primary.w-100
                #spinner.spinner-border.text-light.hidden(role='status')
                  span.sr-only Loading...
                span#button-text Pagar
              p#card-error(role='alert')
              p.result-message.hidden
                | Pago satisfactorio
                | &#x2705;
                | En breve recibir&aacute; su pedido
            // ? STRIPE END
          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') Cerrar
    // END MODAL COMPRA

    
    
    // BOOTSTRAP JS FILES
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous")
    
    //dataTables
    script(src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js")
     
    // CUSTOM SCRIPT
    script(src="../../src/js/scripts.js") 
    script( src="../../src/js/front_carrito.js") 
    script( src="../../src/js/currentCart.js")
    script( src="../../src/js/payments.js")
    

  block scripts