extends layout

block content

    // START CABECERA PAGINAS
    section.SeccionCabeceraPAGINAS
      .container-fluid
        .row
          .cabeceraPaginas
            h1.tituloPaginasCabera
              = title
            .breadcrumb-inner
              a(href="/") Home
              span= title
    .iconArrowDown
      .icon-default2
        ion-icon(name="arrow-down-outline")
    br
    br
    section.mainCheckout.pb-5.pt-5
      .container
        .row
          .col-md-6.bloqueIzquierda
            .parte1.shadow
              .secCabecera1
                h4.titulo_ParrafosDark.text-center Inciar Sesión
                br
              .formularioLogin
                form(action="/login-register/login" method="POST" role="form")
                  .form-group
                    label(for="correo") Correo
                    input#correo.form-control(type="email" name="username" required)
                  .form-group
                    label(for="contrasenia") Contraseña
                    input#contrasenia.form-control(type="password" name="password" required)
                  .form-group
                    a.linkText(href="#") Olvidé Contraseña
                  .actualizarListado.pt-3.d-flex.justify-content-center
                    button.btn-mediano.bg-darkCupon(type="submit") Iniciar Sesión
          .col-md-6.bloqueDerecha
            .parte2.shadow
              .secCabecera2
                h4.titulo_ParrafosDark.text-center REGISTRO
              .secCabecera3.mt-5
                .formularioRegistro
                  small= mensaje
                  form(action="/register-f" method="POST" role="form")
                    
                    .form-row
                      .form-group.col-md-6
                        label(for="nombre") Nombres
                        input.form-control(type="text" name="nombre" required)
                      .form-group.col-md-6
                        label(for="apellido") Apellidos
                        input.form-control(type="text" name="apellido"  required)
                    .form-row
                      .form-.col-md-6
                        label(for="correo") Correo
                        input#correoHeadReg.correoHeadReg.form-control(type="text" name="correo"  required)
                      .form-group.col-md-6
                        label(for="contrasenia") Contraseña
                        input.form-control(type="password" name="contrasenia"  required)
                    .actualizarListado.pt-3.d-flex.justify-content-center
                      button.btn-mediano.bg-yellowCupon(type="submit") REGISTRAR
