extends layout

block content
  app-ofertas

block scripts
  script(src='/build/runtime.f5963d1930afb901a00e.js')
  script(src='/build/polyfills.3227b3cecbd90ee455b5.js')
  script(src='/build/main.640c5a608410a149c1eb.js')
    


