mixin producto_proceso(bg,border,titulo)
        .card.text-dark.mb-3(class=border)
            .card-header.p-2(class=bg)
                span.titProceso= titulo
                a.linkVerP(href="#")
                    span.float-right.d-flex.align-items-center
                        ion-icon.DarkIcon(name='eye-outline')
                        |Ver
            .card-body.p-2.descPedido
                
                p Pizza Tomate,...ssssssssssssssssssssssssssssss